<div class="container">
  <header class="header">
    <h1>E-commerce Neural Network Models Playground</h1>
  </header>

  <!-- Formulario 1: Modelo de Predicción de Demanda -->
  <div class="form-section">
    <h2>Demand Time Series Predicition Model</h2>

    <h4>
      This model will return a weekly prediction of the store sales starting in
      2012-10 until the requested date.
    </h4>

    <form [formGroup]="demandForm" (ngSubmit)="submitDemandForm()">
      <!-- Selección de Fecha -->
      <div class="form-group">
        <h3 for="date">Date</h3>
        <p-calendar
          formControlName="date"
          placeholder="Select a date after nov-2012"
          inputId="date"
          [style]="{ width: '400px' }"
        ></p-calendar>
      </div>

      <!-- Selección de Día Festivo -->
      <div class="form-group">
        <h3>¿Is your date a holiday?</h3>
        <div>
          <p-radioButton
            name="holiday"
            value="yes"
            formControlName="holiday"
            inputId="holidayYes"
          ></p-radioButton>
          <label for="holidayYes">Si</label>
        </div>
        <div>
          <p-radioButton
            name="holiday"
            value="no"
            formControlName="holiday"
            inputId="holidayNo"
          ></p-radioButton>
          <label for="holidayNo">No</label>
        </div>
      </div>

      <!-- Ingreso de Temperatura -->
      <div class="form-group">
        <h3 for="temperature">
          Select the aproximate °C Temperature of the day
        </h3>
        <p-inputNumber
          formControlName="temperature"
          placeholder="Select the aproximate °C Temperature of the day"
          [useGrouping]="false"
          inputId="temperature"
        ></p-inputNumber>
      </div>

      <button pButton type="submit" label="Send"></button>
    </form>

    <div *ngIf="demandFormLoading">
      <p>Demand predictions loading...</p>
    </div>

    <!-- Sección para mostrar la imagen decodificada -->
    <div class="result" *ngIf="demandResult">
      <img
        [src]="demandResult"
        alt="Demand Time Series"
        style="max-width: 100%; height: auto"
      />
    </div>
  </div>

  <!-- Los demás formularios (imagen y texto) se mantienen igual -->

  <!-- Formulario 2: Modelo de Clasificación de Imágenes -->
  <div class="form-section">
    <h2>Images Classifier Model</h2>

    <h4>
      This model will return a product category in where the submited object
      should fit
    </h4>

    <form [formGroup]="imageForm" (ngSubmit)="submitImageForm()">
      <!-- Selección de Imagen -->
      <div class="form-group">
        <label for="image_file">Image</label>
        <p-fileUpload
          name="image_file"
          mode="basic"
          auto="true"
          [chooseLabel]="
            imageSelected ? 'Update image' : 'Upload an image of a product'
          "
          (onSelect)="onImageSelected($event)"
          inputId="image_file"
        ></p-fileUpload>
        <p *ngIf="imageSelected">{{ selectedImage?.name }}</p>
      </div>

      <button pButton type="submit" label="Send" class="mt-4"></button>
    </form>

    <div *ngIf="imageFormLoading">
      <p>Loading classification...</p>
    </div>

    <p class="result">{{ imageResult }}</p>
  </div>

  <!-- Modelo de Generación de Texto -->
  <div class="form-section">
    <h2>Text Generation Model</h2>

    <h4>
      This model returns some products that might interest a user who has chosen
      one of the products shown in the cards.
    </h4>

    <app-product-cards></app-product-cards>
  </div>
</div>
